@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Noto+Sans+Hanunoo&display=swap');
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* background-color: black; */
}
body {
  background-color: black;
  font-family: 'Manrope', sans-serif;
}
